@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    
}

body {
    color: white;
    background-color: #161618;
    margin: 0px;
}
header ul{
    margin:0px;
}

.nav-option {
    display:inline-block;
    padding: 10px 5% 10px 5%;
}
.nav-option a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 7px;
}

/* Creates an invisible character who's background
 * expands into underline for nav-option, idea is from
 * user Chamath D on stackoverflow.
 * https://stackoverflow.com/questions/26726436/css-bottom-border-transition-expand-from-middle 
 */
.nav-option:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav-option:hover:after {
    width: 100%;
    background: #ffbf00;
}

.main-nav {
    text-align: center;
    background-color: #161618aa;
    margin: 0px;
}

/* works using webkit, mozilla, and opera compatability and ensures image is 
 *  set to cover the area regardless of where the site is opened
 *  https://stackoverflow.com/questions/15687778/how-to-use-css-media-query-to-scale-background-image-to-viewing-window 
 */
.frontpage {
    background-image: url(./images/icons/background1.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
}

.headline {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}
.headline .name {
    font-size: 3rem;
}
.name:after {
    content: "";
    display: block;
    width: 8ch;
    background: #ffbf00;
    height: 5px;
    margin: auto;
}
.headline h4 {
    font-size: 1.5rem
}

.handsome-face {
    border-radius: 50%;
    float: left;
    margin-right: 10%;
}

section {
    height: fit-content;
    padding: 0vw 15vw 5vh 15vw;
    
}
section h2 {
    padding-left: 3vw;
    padding-right: 0vw;
    font-size: 2rem;
}
section h2:after {
    content: "";
    display: block;
    background: #ffbf00;
    width: 3em;
    height: 3px;
    margin: 0 0 0 -.2em
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.link-button {
    display: flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: white;

    background-color: #ffbf00;
    margin: 10px 10px 10px 0px;
    padding: 7px 7px;
    border: 2px solid #ffbf0000;
    transition: background-color .5s ease, border .5s ease;
}
.link-button:hover {
    border: 2px solid #ffbf00;
    background-color: #ffbf0000;
}
.link-button img {
    max-height: 1.5rem;
    max-width: 1.5rem;
    padding-left: 5px;
}

.contact-links{
    display: flex;
    justify-content: center;
}
.contact-links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.contact-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: white;
}

.contact-link {
    margin: 0 5vh;
    font-size: 1.25rem;

    border: 2px solid;
    background-color: #ffbf00;
    margin: 10px 5vw;
    padding: 7px 7px;
    border: 2px solid #ffbf0000;
    transition: background-color .5s ease, border .5s ease;
}
.contact-link:hover {
    border: 2px solid #ffbf00;
    background-color: #ffbf0000;
}
.contact-link img {
    max-height: 2rem;
    max-width: 2rem;
    padding-left: 5px;
}

@media (max-width: 1000px) {
    .contact-links ul {
        display: block;
        align-items: center;
        list-style-type: none;
    }
    .contact-link {
        margin: 2vh 5vh;
        font-size: 1.25rem;
    }
}


.project {
    border-top: 1px solid #ffbf00;
    margin: 0 4vw;
    border-bottom: 1px solid #ffbf00;
}
.project:first-of-type {
    border-top: transparent;
    border-bottom: 1px solid #ffbf00;
}
.project:last-of-type {
    border-top: 1px solid #ffbf00;
    border-bottom: transparent;
}

.desc {
    margin-right: 5vw;
    padding-left: 3vw;
}
.about-project {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 5vh
}
.screenshots {

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
}
.ss1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    height: 100%;
    width:100%;

    object-fit: cover;

    border: 2px solid white;
}
.ss3 {
    grid-column: 2 / 4;
    grid-row: 2 / 5;

    height: 100%;
    width:100%;

    object-fit: cover;

    border: 2px solid white;

}
.ss2 {
    height: 0;
    visibility: hidden;
}

@media (max-width: 1000px) {
    .about-project {
        display:block;
    }
    .about-project a{
        margin: auto
    }
    .desc {
        padding: 3vw;
    }
    .screenshots {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr;
        margin-bottom: 5vh
    }
    .screenshots img {
        visibility:visible;
        height: auto
    }
    .ss1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        
        height: 100%;
        width:100%;

        object-fit: cover;

        border: 2px solid white;
        z-index: 1;
    }
    .ss2 {
        grid-column: 4 / 6;
        grid-row: 1 / 3; 
        
        height: 100%;
        width:100%;

        object-fit: cover;

        border: 2px solid white;
    }
    .ss3{
        grid-column: 2 / 5;
        grid-row: 2 / 4;
        
        height: 100%;
        width:100%;

        object-fit: cover;

        border: 2px solid white;
        z-index: 0;
    }
}

/* End of styling just for index.html ^^^ */

