@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    
}

body {
    color: white;
    background-color: #161618;
    margin: 0px;
}
header ul{
    margin:0px;
}

.nav-option {
    display:inline-block;
    padding: 10px 5% 10px 0;
}
.nav-option a {
    text-decoration: none;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 7px 7px;
}
.nav-option:last-child {
    margin-right: 0px;
    
}

/* Creates an invisible character who's background
expands into underline for nav-option, idea is from
user Chamath D on stackoverflow.
https://stackoverflow.com/questions/26726436/css-bottom-border-transition-expand-from-middle */
.nav-option:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav-option:hover:after {
    width: 100%;
    background: #ffbf00;
}

.main-nav {
    text-align: right;
    padding-right: 10%;
    background-color: #161618aa;
    margin: 0px;
}

.frontpage {
    background-image: url(./images/icons/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;

}
.headline {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}
.name {
    font-size: 3rem;
}

.handsome-face {
    border-radius: 50%;
    float: left;
    margin-right: 10%;
}

section {
    height: fit-content;
    padding: 0vw 15vw 5vh 15vw;
    
}
section h2 {
    padding-left: 3vw;
    padding-right: 0vw;
    font-size: 2rem;
}
section h2:after {
    content: "";
    display: block;
    background: #ffbf00;
    width: 3em;
    height: 2px;
    margin: .1em 0 0 -.2em
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.link {
    text-decoration: none;
    color: white;
    background-color: #ffbf00;
    margin: 10px 10px 10px 0px;
    padding: 7px 7px;
    border: 2px solid #ffbf0000;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: background-color .5s ease, border .5s ease;
}
.link:hover {
    border: 2px solid #ffbf00;
    background-color: #ffbf0000;
}
.link img{
    max-height: 1.5rem;
    max-width: 1.5rem;
    padding-left: 5px;

}


